<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragment/lib.html::lib('User')">
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">User List</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, userStat : ${users}">
            <td th:text="${userStat.index + 1}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.birthDay}"></td>
            <td th:text="${user.role.getRole_name()}"></td>
            <td>
                <a th:href="'/users/edit/' + ${user.id}" class="btn btn-sm btn-warning">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='/users/new'">Create</button>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
